:root {
  --ss-background: #F8F2ED;
  --ss-surface: #FFFCF9;
  --ss-chrome: #E7E0D9;
  --ss-foreground: #0D0B09;
  --ss-muted-foreground: #534F4C;
  --ss-chrome-foreground: #0D0B09;
  --ss-border: #C1B9B1;
  --ss-primary: #1E5EA5;
  --ss-primary-foreground: #FEFBF9;
  --ss-accent: #515696;
  --ss-accent-foreground: #FEFBF9;
  --ss-focus: #515696;
  --ss-success: #006425;
  --ss-success-foreground: #FEFBF9;
  --ss-warning: #6E4B00;
  --ss-warning-foreground: #FEFBF9;
  --ss-danger: #902824;
  --ss-danger-foreground: #FEFBF9;
  --ss-primary-50: #F4F9FF;
  --ss-primary-100: #DEEDFF;
  --ss-primary-200: #BDDAFF;
  --ss-primary-300: #8FC1FF;
  --ss-primary-400: #69A1E6;
  --ss-primary-500: #4A85CD;
  --ss-primary-600: #306DB4;
  --ss-primary-700: #1D5696;
  --ss-primary-800: #043C75;
  --ss-primary-900: #00264F;
  --ss-primary-950: #00112A;
  --ss-accent-50: #F7F8FF;
  --ss-accent-100: #E6EAFF;
  --ss-accent-200: #CED4FF;
  --ss-accent-300: #B1B9F4;
  --ss-accent-400: #9199D7;
  --ss-accent-500: #767DBE;
  --ss-accent-600: #5F65A5;
  --ss-accent-700: #4A4F88;
  --ss-accent-800: #33376A;
  --ss-accent-900: #1F204C;
  --ss-accent-950: #0C0A30;
}
